aside
    .aside-nav
        h2.aside-nav_title Парфюмерия
        ul.aside-nav_list
            li
                a(href="javascript:void(0);") Арабская парфюмерия
            li
                a(href="javascript:void(0);") Тестеры
            li
                a(href="javascript:void(0);") Женская парфюмерия
                ul.aside-nav_dropdown
                    li
                        a(href="javascript:void(0);") 25мл
                    li
                        a(href="javascript:void(0);") 50мл
                    li
                        a(href="javascript:void(0);") 100мл
            li
                a(href="javascript:void(0);") Мужская парфюмерия
                ul.aside-nav_dropdown
                    li
                        a(href="javascript:void(0);") 25мл
                    li
                        a(href="javascript:void(0);") 50мл
                    li
                        a(href="javascript:void(0);") 100мл

            li
                a(href="javascript:void(0);") Дезодоранты
            li
                a(href="javascript:void(0);") Мини парфюм
            li
                a(href="javascript:void(0);") Подрачные наборы
    .aside-nav
        h2.aside-nav_title Косметика
        ul.aside-nav_list
            li
                a(href="javascript:void(0);") Блеск для губ
            li
                a(href="javascript:void(0);") Карандаши
            li
                a(href="javascript:void(0);") Кисти
            li
                a(href="javascript:void(0);") Консилеры
            li
                a(href="javascript:void(0);") Крема
            li
                a(href="javascript:void(0);") Лаки для ногтей
            li
                a(href="javascript:void(0);") Палетки
            li
                a(href="javascript:void(0);") Подводка
            li
                a(href="javascript:void(0);") Помада
            li
                a(href="javascript:void(0);") Пудра
            li
                a(href="javascript:void(0);") Румяна
            li
                a(href="javascript:void(0);") Тени
            li
                a(href="javascript:void(0);") Тональный крем
            li
                a(href="javascript:void(0);") Тушь
    .aside-nav.aside-nav_brands
        h2.aside-nav_title Бренды
        ul.aside-nav_list
            li
                a(href="javascript:void(0);") Acqua Di Parma
            li
                a(href="javascript:void(0);") Aj Arabia
            li
                a(href="javascript:void(0);") Alexandre
            li
                a(href="javascript:void(0);") Antonio Banderas
            li
                a(href="javascript:void(0);") Baldessarini
            li
                a(href="javascript:void(0);") Bulgari
            li
                a(href="javascript:void(0);") Calvin Klein
            li
                a(href="javascript:void(0);") Chanel
            li
                a(href="javascript:void(0);") Christian Dior
            li
                a(href="javascript:void(0);") Dolce &amp; Gabana
            li
                a(href="javascript:void(0);") Escada
            li
                a(href="javascript:void(0);") Giorgio Armani
            li
                a(href="javascript:void(0);") Givenchy
            li
                a(href="javascript:void(0);") Gucci
            li
                a(href="javascript:void(0);") Guerlain
            li
                a(href="javascript:void(0);") Hugo Boss
            li
                a(href="javascript:void(0);") Kenzo
            li
                a(href="javascript:void(0);") Lacoste
            li
                a(href="javascript:void(0);") Lalique
            li
                a(href="javascript:void(0);") Mexx
            li
                a(href="javascript:void(0);") Nina Ricci
            li
                a(href="javascript:void(0);") Prada
            li
                a(href="javascript:void(0);") Sisley
            li
                a(href="javascript:void(0);") Versace