footer
    .footer-bg
        .footer-content
            .footer-content_information
                .footer-logo
                    a(href='javascript:void(0);') Parfumer
                span г.Город
                .footer-tel
                    a(href='tel:+01234567890') +01234567890
                .footer-content_information__social
                    a(href='javascript:void(0);')
                    a(href='javascript:void(0);')
                    a(href='javascript:void(0);')
                span 2017 Parfumer
            .footer-content_menu
                .main-nav
                    nav.nav-block
                        ul
                            li
                                a(href='javascript:void(0);').active О компании
                            li
                                a(href='javascript:void(0);') Акции
                            li
                                a(href='javascript:void(0);') Новости
                            li
                                a(href='javascript:void(0);') Доставка
                            li
                                a(href='javascript:void(0);') Оплата
                            li
                                a(href='javascript:void(0);') Производители
                            li
                                a(href='javascript:void(0);') Контакты
                    .nav-icon
                        span
                        span
                        span
                .footer-list
                    ul.footer-list_item
                        li
                            a(href='javascript:void(0);') Женская парфюмерия
                        li
                            a(href='javascript:void(0);') Мужская парфюмерия
                        li
                            a(href='javascript:void(0);') Нишевая парфюмерия
                    ul.footer-list_item
                        li
                            a(href='javascript:void(0);') Тестеры, пробники
                        li
                            a(href='javascript:void(0);') Арабские духи
                        li
                            a(href='javascript:void(0);') Дезодоранты спрей
                    ul.footer-list_item
                        li
                            a(href='javascript:void(0);') Тушь
                        li
                            a(href='javascript:void(0);') Подводка и карандаши
                        li
                            a(href='javascript:void(0);') Помада
                    ul.footer-list_item
                        li
                            a(href='javascript:void(0);') Блеск для губ
                        li
                            a(href='javascript:void(0);') Тональный крем
                        li
                            a(href='javascript:void(0);') Крема
                    ul.footer-list_item
                        li
                            a(href='javascript:void(0);') Тени и палетки
                        li
                            a(href='javascript:void(0);') Пудра
                        li
                            a(href='javascript:void(0);') Румяна
