header
    .header-block
        .header-logo
            a(href='javascript:void(0);') Parfumer
            span духи и косметика
        .header-contacts
            .header-contacts_left
                a(href='tel:+01234567890') +01234567890
                a(href='tel:+01234567890') +01234567890
            .header-contacts_right
                .contact

                    a(href='javascript:void(0);').btn.btn_orange Обратный звонок
                .social-links
                    a(href='javascript:void(0);').social-link.social-link-wapp
                    a(href='javascript:void(0);').social-link.social-link-teleg
                    a(href='javascript:void(0);').social-link.social-link-vib
        .mini-basket
            span 0
        .header-basket_wrap
            .header-basket
                span.main-basket Корзина пуста,<br> добавьте товар.

    .main-nav
        nav.nav-block
            ul
                li
                    a(href='https://shatyliuk.github.io/parfumer/') О компании
                li
                    a(href='https://shatyliuk.github.io/parfumer/') Акции
                li
                    a(href='https://shatyliuk.github.io/parfumer/') Новости
                li
                    a(href='https://shatyliuk.github.io/parfumer/delivery') Доставка
                li
                    a(href='https://shatyliuk.github.io/parfumer/') Оплата
                li
                    a(href='https://shatyliuk.github.io/parfumer/') Производители
                li
                    a(href='https://shatyliuk.github.io/parfumer/contacts') Контакты
        .nav-icon
            span
            span
            span
        .search-area
            input(id='searchInput' type='text' placeholder='поиск по товарам')