extends ../layout/main

block variables
    - var title = 'Категории'
block content
    section.category-menu.category-menu_orange
        a(href="https://shatyliuk.github.io/parfumer/categories") Женская парфюмерия
        a(href="https://shatyliuk.github.io/parfumer/categories") Мужская парфюмерия
        a(href="https://shatyliuk.github.io/parfumer/categories") Косметика
    section.main-content
        include ../modules/aside
        main
            include ../modules/breadcrumb
                li
                    a(href='javascript:void(0);').active Парфюмерия
            .sandwich
                .nav-icon
                    span
                    span
                    span
                span.sandwich-title Каталог
            h1 Парфюмерия
            .category-nav
                .category-sort
                    span Сортировка:
                    .sort-price
                        span.active по цене
                        span.sort.sort-price_up.active
                        span.sort.sort-price_down
                .product-navigation
                    span Страницы:
                    ul
                        li
                            a(href='javascript:void(0);').active 1
                        li
                            a(href='javascript:void(0);') 2
                        li
                            a(href='javascript:void(0);') 3
                        li
                            a(href='javascript:void(0);') 4
                        li
                            a(href='javascript:void(0);') 5
            .main-content_products
                .products
                    a(href='https://shatyliuk.github.io/parfumer/product')
                        .product-item.category_product
                            img(src='static/img/content/1_215-200x200.jpg')
                            span Clive Christian V for Men 50 мл (тестер)
                            a.underline(href='javascript:void(0);') подробнее
                            span.price 100$
                            .amount
                                span Количество
                                .amount-count
                                    span.amount-count_up +
                                    input(type='text' value='1').current
                                    span.amount-count_down -
                            button.btn.btn_orange купить
                    a(href='https://shatyliuk.github.io/parfumer/product')
                        .product-item.category_product
                            img(src='static/img/content/1_215-200x200.jpg')
                            span Clive Christian V for Men 50 мл (тестер)
                            a.underline(href='javascript:void(0);') подробнее
                            span.price 100$
                            .amount
                                span Количество
                                .amount-count
                                    span.amount-count_up +
                                    input(type='text' value='1').current
                                    span.amount-count_down -
                            button.btn.btn_orange купить
                    a(href='https://shatyliuk.github.io/parfumer/product')
                        .product-item.category_product
                            img(src='static/img/content/1_215-200x200.jpg')
                            span Clive Christian V for Men 50 мл (тестер)
                            a.underline(href='javascript:void(0);') подробнее
                            span.price 100$
                            .amount
                                span Количество
                                .amount-count
                                    span.amount-count_up +
                                    input(type='text' value='1').current
                                    span.amount-count_down -
                            button.btn.btn_orange купить
                    a(href='https://shatyliuk.github.io/parfumer/product')
                        .product-item.category_product
                            img(src='static/img/content/1_215-200x200.jpg')
                            span Clive Christian V for Men 50 мл (тестер)
                            a.underline(href='javascript:void(0);') подробнее
                            span.price 100$
                            .amount
                                span Количество
                                .amount-count
                                    span.amount-count_up +
                                    input(type='text' value='1').current
                                    span.amount-count_down -
                            button.btn.btn_orange купить
                    a(href='https://shatyliuk.github.io/parfumer/product')
                        .product-item.category_product
                            img(src='static/img/content/1_215-200x200.jpg')
                            span Clive Christian V for Men 50 мл (тестер)
                            a.underline(href='javascript:void(0);') подробнее
                            span.price 100$
                            .amount
                                span Количество
                                .amount-count
                                    span.amount-count_up +
                                    input(type='text' value='1').current
                                    span.amount-count_down -
                            button.btn.btn_orange купить
                    a(href='https://shatyliuk.github.io/parfumer/product')
                        .product-item.category_product
                            img(src='static/img/content/1_215-200x200.jpg')
                            span Clive Christian V for Men 50 мл (тестер)
                            a.underline(href='javascript:void(0);') подробнее
                            span.price 100$
                            .amount
                                span Количество
                                .amount-count
                                    span.amount-count_up +
                                    input(type='text' value='1').current
                                    span.amount-count_down -
                            button.btn.btn_orange купить
                    a(href='https://shatyliuk.github.io/parfumer/product')
                        .product-item.category_product
                            img(src='static/img/content/1_215-200x200.jpg')
                            span Clive Christian V for Men 50 мл (тестер)
                            a.underline(href='javascript:void(0);') подробнее
                            span.price 100$
                            .amount
                                span Количество
                                .amount-count
                                    span.amount-count_up +
                                    input(type='text' value='1').current
                                    span.amount-count_down -
                            button.btn.btn_orange купить
                    a(href='https://shatyliuk.github.io/parfumer/product')
                        .product-item.category_product
                            img(src='static/img/content/1_215-200x200.jpg')
                            span Clive Christian V for Men 50 мл (тестер)
                            a.underline(href='javascript:void(0);') подробнее
                            span.price 100$
                            .amount
                                span Количество
                                .amount-count
                                    span.amount-count_up +
                                    input(type='text' value='1').current
                                    span.amount-count_down -
                            button.btn.btn_orange купить
                    a(href='https://shatyliuk.github.io/parfumer/product')
                        .product-item.category_product
                            img(src='static/img/content/1_215-200x200.jpg')
                            span Clive Christian V for Men 50 мл (тестер)
                            a.underline(href='javascript:void(0);') подробнее
                            span.price 100$
                            .amount
                                span Количество
                                .amount-count
                                    span.amount-count_up +
                                    input(type='text' value='1').current
                                    span.amount-count_down -
                            button.btn.btn_orange купить
